.BrowseByCategory {
    position: relative;
    .row-head-loop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #f4f4f4;
        padding: 3% 0;
        .col-head-loop {
            img {
                max-width: 90%;
                height: auto;
            }
        }
    }
}

// @media screen and (min-width: 1024px) and (max-width: 1440px) {
//     .BrowseByCategory {
//     }
// }

// @media screen and (min-width: 768px) and (max-width: 1024px) {
//     .BrowseByCategory {
//     }
// }

// @media screen and (min-width: 650px) and (max-width: 768px) {
//     .BrowseByCategory {
//     }
// }

@media screen and (min-width: 425px) and (max-width: 650px) {
    .BrowseByCategory {
        .row-head-loop {
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            .col-head-loop {
                scale: 0.9;
            }
            .blockchain {
                order: 3;
            }
            .tether {
                scale: 0.8;
            }
            .etherium {
                order: 2;
                scale: 0.8;
            }
            .btc {
                order: 3;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .BrowseByCategory {
    }
}
