.Main {
    ul {
        li.NewGenerationOfOnlineShopping {
            background-color: var(--main-bg-color);
            h1.First_Element_of_Generation {
                @include maxSizeHeaderText;
                color: var(--black-color);
                margin: 60px auto 20px;
                padding-top: 3%;
                width: 30%;
            }
            h5.Second_Element_of_Generation {
                @include minSizeHeaderText;
                color: var(--black-color);
                margin: 0 auto 3%;
                width: 42%;
            }
            .nft_parent_wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                font-weight: 700;
                font-size: 25px;
                line-height: 141.9%;
                text-align: center;
                letter-spacing: 0.02em;
                li {
                    margin: 10px;
                }
                .card_nft_wrapper {
                    display: flex;
                    border-radius: 20px;
                    flex-direction: column;
                    span {
                        margin-top: 10%;
                        padding-bottom: 10%;
                    }
                    &:hover {
                        cursor: pointer;
                        color: var(--white-color);
                        background: var(--orange-gradient);
                    }
                }
            }
        }
        .green-ring-modal,
        .red-ring-modal,
        .purple-ring-modal,
        .blue-ring-modal {
            border-radius: 20px;

            section.modal-content {
                h4 {
                    color: var(--black-color);
                    @include maxSizeHeaderText;
                    border-bottom: 2px solid var(--orange-color);
                }
                p {
                    color: var(--black-color);
                    @include minSizeHeaderText;
                }
            }
            section.modal-footer {
                display: flex;
                justify-content: center;
                button.Buy-button {
                    @include Form-button;
                    color: var(--white-color);
                    background: var(--orange-gradient);
                    border-radius: var(--border-radius-main);
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }
}
