.Main {
    ul {
        li.NewGenerationOfOnlineShopping {
            background-color: var(--main-bg-color);
            h1.First_Element_of_Generation {
                @include maxSizeHeaderText;
                @include color-black;
                margin: 60px auto 20px;
                padding-top: 3%;
                width: 30%;
            }
            h5.Second_Element_of_Generation {
                @include minSizeHeaderText;
                @include color-black;
                margin: 0 auto 3%;
                width: 42%;
            }
            .nft_parent_wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                font-weight: 700;
                font-size: 25px;
                line-height: 141.9%;
                text-align: center;
                letter-spacing: 0.02em;
                li {
                    margin: 10px;
                }
                .card_nft_wrapper {
                    display: flex;
                    border-radius: 20px;
                    flex-direction: column;
                    span {
                        margin-top: 10%;
                        padding-bottom: 10%;
                    }
                    &:hover {
                        cursor: pointer;
                        color: var(--white-color);
                        background: var(--orange-gradient);
                    }
                }
            }
        }
    }
}
