.Emblems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 40px;
    padding-bottom: 52px;
}
img.background {
    min-height: 100%;
    min-width: auto;
    width: 100%;
    height: auto;
    position: absolute;
}
.InfoStay {
    position: relative;
}
