.Footer {
    margin: 10% 0;
    .body-Footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            @media (max-width: 768px) {
            }

            &:last-child {
                margin-right: 0px;
            }
            ul {
                min-width: 200px;
                &:first-child {
                    @media (min-width: 1440px) {
                        max-width: 350px;
                    }
                    @media (max-width: 1440px) {
                        margin: auto 10%;
                    }
                    @media (max-width: 768px) {
                        margin: 2%;
                    }
                    @media (max-width: 600px) {
                        width: 200px;
                    }
                }
                li {
                    ul {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .circle-Icon {
            width: 40px;
            height: 40px;
            margin-right: 17px;
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
                ),
                linear-gradient(140.08deg, #9cd2ee 3.42%, #00acee 95.98%);
            border-radius: 50%;
        }
        h3 {
            margin: 17px 0;
        }
        li {
            margin-bottom: 17px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        p {
            line-height: 2;
            word-spacing: 0.4em;
        }
    }
}
