.Header {
    .background-img {
        position: relative;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            min-height: 832px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.for-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 175.4%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.information {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .header-top {
        display: flex;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        z-index: 99;
        width: 100%;
        background-color: #11111d66;
        backdrop-filter: blur(10px);
        height: 5rem;
        .logo-wraper {
            li {
                display: flex;
                align-items: center;
                a:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
        .a-wraper {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                padding-right: 1rem;
            }
        }
        .login-button {
            border: none;
            background: var(--orange-gradient);
            border-radius: 10px;
            width: 7.0625rem;
            height: 3rem;
            box-shadow: var(--orange-box-shadow);
        }
    }
}

.information-2 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-height: 43rem;
    .wraper-information {
        display: flex;
        flex-direction: column;
        width: 29.5rem;
        .information-2__title {
            display: block;
            max-width: 80%;
            margin-top: 9.2vw;
            font-weight: 700;
            font-size: 48px;
            line-height: 68px;
            color: var(--white-color);
        }
        .information-text {
            display: block;
            max-width: 80%;
            word-wrap: break-word;
            font-weight: 400;
            font-size: 20px;
            line-height: 157.9%;
            letter-spacing: 0.02em;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            color: var(--white-color);
        }

        .buttons {
            display: flex;
        }
    }
}

.curent-pice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15.9375rem;
    height: 12em;
    background: var(--blue-gradient);
    box-shadow: var(--header-crypto-shadow);
    border-radius: 10px;
    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 175.4%;
        letter-spacing: 0.02em;
        color: var(--additional-white-color);
        margin-left: 1.5em;
    }
    ul {
        display: flex;
        align-items: center;
        li {
            margin-left: 0.87em;
        }
    }
    .curent-pice_ul-1 {
        margin-left: 0.81em;
        li:nth-child(2) {
            font-weight: 700;
            font-size: 24px;
            line-height: 175.4%;
            letter-spacing: 0.02em;
            color: var(--additional-white-color);
        }
        li:nth-child(3) {
            font-weight: 400;
            font-size: 15px;
            line-height: 175.4%;
            letter-spacing: 0.02em;
            color: var(--additional-white-color);
        }
    }
    .curent-pice_ul-2 {
        margin-left: 0.81em;
        li:nth-child(2) {
            font-weight: 700;
            font-size: 16px;
            line-height: 175.4%;
            letter-spacing: 0.02em;
            color: var(--additional-white-color);
        }
    }
}
.Explore-button {
    width: 9.6rem;
    height: 3rem;
    background: var(--orange-gradient);
    border-radius: 10px;
}
.Create-button {
    width: 9.6rem;
    height: 3rem;
    border: 1px solid var(--orange-color);
    background-color: transparent;
    border-radius: 10px;
    margin-left: 1.25rem;
}

.header-a {
    color: var(--white-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 175.4%;
    letter-spacing: 0.02em;
    margin-left: 2.1rem;
}

@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        width: 70px !important;
        height: 70px !important;
        transition: 0.4s;
        overflow: hidden;
        backdrop-filter: none !important;
        background-color: transparent !important;
        .logo-wraper {
            margin: 1em;
        }
        .header-a-logo {
            display: none;
        }
    }

    .a-wraper {
        margin-left: 1em;
        justify-content: flex-start !important;

        li {
            flex-direction: column;
            margin-bottom: 0.5em;
            .header-a {
                margin-left: 0;
            }
        }
    }
    .information-2 {
        flex-direction: column;
        align-items: center;
    }
    .wraper-information {
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        .information-2__title {
            margin-top: 14.2vw;
            text-align: center;
            font-size: 36px !important;
        }
        .information-text {
            text-align: center;
            font-size: 14px !important;
            max-width: 80vh;
        }
    }
    .login-button {
        margin-left: 1em;
    }
    .curent-pice {
        margin: 0;
    }

    .header-top:hover {
        height: 100% !important;
        width: 11em !important;
        overflow: hidden;
        border-radius: 0 !important;
        background-color: #11111d66 !important;
        backdrop-filter: blur(10px) !important;
    }
}
@media (max-width: 425px) {
    .wraper-information {
        max-width: 100%;
    }
    .Explore-button,
    .Create-button {
        width: 7.6rem;
    }
}
@media (max-width: 375px) {
    .information-2__title {
        margin-top: 30.2vw !important;
    }
    .wraper-information {
        width: auto;
    }
}
