:root {
    --main-bg-color: #f7f7f7;
    --main-cards-bg-color: #f4f4f4;
    --white-color: #ffffff;
    --additional-white-color: #f4f4f4;
    --black-color: #232222;
    --orange-color: #ff8e1e;

    --orange-gradient: linear-gradient(132.95deg, #ffc301 9.31%, #ff6533 79.4%);
    --blue-gradient: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        ),
        linear-gradient(140.08deg, #9cd2ee 3.42%, #00acee 95.98%);

    --border-radius-main: 20px;
    --border-radius-additional: 10px;
    --border-radius-null: 0px;
    --border-radius-circle: 50%;

    --box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.1);
    --orange-box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
}
@mixin Flex-center {
    display: flex;
    justify-content: center;
}

@mixin cards-color {
    background: var(--main-cards-bg-color);
}

@mixin color-black {
    color: var(--black-color);
}
@mixin color-orange {
    color: var(--orange-color);
}

@mixin pading-x {
    padding-left: 29px;
    padding-right: 29px;
}

@mixin box-shadow {
    box-shadow: var(--box-shadow);
}
@mixin maxSizeHeaderText {
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 48px;
}
@mixin minSizeHeaderText {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
}
@mixin Form-button {
    @include Flex-center;
    align-items: center;
    height: 48px;
    width: 155px;
    border-radius: var(--border-radius-additional);
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
@mixin Elements-none {
    border: none;
    outline: none;
}
